.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    text-align: center;
}

.destaque{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 40px;    
}

.infected{
    border-bottom: 10px solid rgb(0, 13, 255);
    border-top: 10px solid rgb(0, 13, 255);
}

.recovered{
    border-bottom: 10px solid rgb(16, 152, 16);
    border-top: 10px solid rgb(16, 152, 16);

}

.deaths{
    border-bottom: 10px solid rgb(255, 0, 0);
    border-top: 10px solid rgb(255, 0, 0);

}

@media (max-width: 770px) {
    .card
    {
        margin: 2% 0 !important;
    }
}
